<h2 class="screen-align">Updatetree</h2>
<div id="template-iy5m" class="gjs-row">
    <div id="template-ijof" class="gjs-cell">
        <label id="template-i9zm" class="label ">Name</label>
        <input id="template-ipyv" [(ngModel)]="treeaccount.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
        <div id="template-ixzy" (click)="GpDelete()" class="button btn btn-danger ">Delete</div>
        <div id="template-ihtd" (click)="GpUpdate()" class="button btn btn-primary ">Update</div>
    </div>
</div>